{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Movie App</h1>
    <!-- Movie Search -->
    <div class="search-box">
        <form method="GET" action="">
            <input type="text" name="file_name" placeholder="Search by file name">

            <select name="category">
                <option value="">All Categories</option>
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>

            <select name="year">
                <option value="">All Years</option>
                {% for year in numeric_years %}
                <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
                <optgroup label="Movies Languages">
                    {% for year in string_years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </optgroup>
            </select>

            <button type="submit">Search</button>
        </form>
    </div>

    <!-- Movies view -->
    <div class="data-list">
        {% for data in movie %}
        <div class="data-item">
            <div class="img-container">
                <img src="{{ data.image_url }}" alt="Image">
            </div>
            <h2>{{ data.file_name }}</h2>
            <p>Average Rating: {{ data.average_rating|floatformat:1|default:"N/A" }}</p>
            <a href="{{ data.file_url }}" class="button">Download Movie</a>
            <a href="{% url 'filedata-details' data.id %}" class="button">Comment & Ratings</a>
        </div>
        {% empty %}
        <p>No file data available.</p>
        {% endfor %}
    </div>

    <!-- Paginations -->
    <div class="pagination">
        <p>
            {% if previous_page %}
            <a href="{{ previous_page }}">Previous</a>
            {% endif %}
            Current Page: {{ current_page }} / {{ total_pages }}
            {% if next_page %}
            <a href="{{ next_page }}">Next</a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}